<!--
<div class = "card col-md-12">
  <div class="image">
    <img src="../../assets/images/cofee1.png" alt="coffee">
  </div>

  &lt;!&ndash;<p class="name">
    <b>Name of company </b>
  </p>&ndash;&gt;
  <div class="content">
    Buy  more cups!!!
    <span class="circle"> </span>
  </div>
</div>
-->

<mat-card>
  <mat-card-header>
    <mat-card-subtitle>{{client.name}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      Phone: {{client.phoneNumber}}
      <br>
      Bonus: {{bonus.value}}
    </p>

    <button mat-button (click)="onSubmit()"><mat-icon>add</mat-icon></button>
  </mat-card-content>
</mat-card>
