<!--
<div class = "card col-md-12">
  <div class="image">
    <img src="../../assets/images/cofee1.png" alt="coffee">
  </div>

  &lt;!&ndash;<p class="name">
    <b>Name of company </b>
  </p>&ndash;&gt;
  <div class="content">
    Buy  more cups!!!
    <span class="circle"> </span>
  </div>
</div>
-->

<mat-card>
  <mat-card-header>

    <div mat-card-avatar class="example-header-image">
      <img src="../../assets/images/cofee1.png" alt="coffee">
    </div>
    <mat-card-subtitle>Company name</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>
      You need 2 more cups!
    </p>
  </mat-card-content>
</mat-card>
